POSTGRES_HOST=postgres
POSTGRES_USER=file_checker
POSTGRES_PASSWORD=file_checker
POSTGRES_DB=file_checker

RABBITMQ_DEFAULT_USER=rabbit
RABBITMQ_DEFAULT_PASS=rabbit

DJANGO_SECRET_KEY=some_secret_key
DJANGO_EMAIL_HOST=test
DJANGO_EMAIL_HOST_USER=email_user
DJANGO_EMAIL_HOST_PASSWORD=email_password
DJANGO_CELERY_BROKER_URL=amqp://${RABBITMQ_DEFAULT_USER}:${RABBITMQ_DEFAULT_PASS}@rabbitmq
